<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h2>Example Usage:</h2>
      <ul>
        <li><a href="api/2024-08-05">https://timestamp-ub0w.onrender.com/api/2024-08-05</a></li>
        <li><a href="api/1722816000000">https://timestamp-ub0w.onrender.com/api/1722816000000</a></li>
      </ul>

      <h2>Example Output:</h2>
      <p>
        <code>{"unix":1722816000000,"utc":"Mon, 05 Aug 2024 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://imyuanhui.github.io/">Yuanhui</a>
      </p>
    </div>
  </body>
</html>
